#### packages

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import sklearn
import scipy

##### Data

In [3]:
df = pd.read_csv('data.csv')
df.isnull().sum()[50:]

d147               488
d148               488
f073                 0
f074               234
h001                 0
                  ...
work_satiG           0
company_satiG        0
supply               0
work_timeB           0
commuting_time    4525
Length: 62, dtype: int64

In [4]:
df_copy = df.copy()

In [5]:
df_copy.area.replace(1, '서울', inplace=True)
df_copy.area.replace(2, '부산', inplace=True)
df_copy.area.replace(3, '대구', inplace=True)
df_copy.area.replace(4, '대전', inplace=True)
df_copy.area.replace(5, '인천', inplace=True)
df_copy.area.replace(6, '광주', inplace=True)
df_copy.area.replace(7, '울산', inplace=True)
df_copy.area.replace(8, '경기', inplace=True)
df_copy.area.replace(9, '강원', inplace=True)
df_copy.area.replace(10, '충북', inplace=True)
df_copy.area.replace(11, '충남', inplace=True)
df_copy.area.replace(12, '전북', inplace=True)
df_copy.area.replace(13, '전남', inplace=True)
df_copy.area.replace(14, '경북', inplace=True)
df_copy.area.replace(15, '경남', inplace=True)
df_copy.area.replace(16, '제주', inplace=True)
df_copy.area.replace(17, '세종', inplace=True)

In [6]:
##### 값 변환 비교

print(f'''서울
변환 전:{len(df[df['area']==1])}
변환 후:{len(df_copy[df_copy['area']=='서울'])}''')
print('========================='*5)
print(f'''부산
변환 전:{len(df[df['area']==2])}
변환 후:{len(df_copy[df_copy['area']=='부산'])}''')
print('========================='*5)
print(f'''대구
변환 전:{len(df[df['area']==3])}
변환 후:{len(df_copy[df_copy['area']=='대구'])}''')
print('========================='*5)
print(f'''대전
변환 전:{len(df[df['area']==4])}
변환 후:{len(df_copy[df_copy['area']=='대전'])}''')
print('========================='*5)
print(f'''인천
변환 전:{len(df[df['area']==5])}
변환 후:{len(df_copy[df_copy['area']=='인천'])}''')
print('========================='*5)
print(f'''광주
변환 전:{len(df[df['area']==6])}
변환 후:{len(df_copy[df_copy['area']=='광주'])}''')
print('========================='*5)
print(f'''울산
변환 전:{len(df[df['area']==7])}
변환 후:{len(df_copy[df_copy['area']=='울산'])}''')
print('========================='*5)
print(f'''경기
변환 전:{len(df[df['area']==8])}
변환 후:{len(df_copy[df_copy['area']=='경기'])}''')
print('========================='*5)
print(f'''강원
변환 전:{len(df[df['area']==9])}
변환 후:{len(df_copy[df_copy['area']=='강원'])}''')
print('========================='*5)
print(f'''충북
변환 전:{len(df[df['area']==10])}
변환 후:{len(df_copy[df_copy['area']=='충북'])}''')
print('========================='*5)
print(f'''충남
변환 전:{len(df[df['area']==11])}
변환 후:{len(df_copy[df_copy['area']=='충남'])}''')
print('========================='*5)
print(f'''전북
변환 전:{len(df[df['area']==12])}
변환 후:{len(df_copy[df_copy['area']=='전북'])}''')
print('========================='*5)
print(f'''전남
변환 전:{len(df[df['area']==13])}
변환 후:{len(df_copy[df_copy['area']=='전남'])}''')
print('========================='*5)
print(f'''경북
변환 전:{len(df[df['area']==14])}
변환 후:{len(df_copy[df_copy['area']=='경북'])}''')
print('========================='*5)
print(f'''경남
변환 전:{len(df[df['area']==15])}
변환 후:{len(df_copy[df_copy['area']=='경남'])}''')
print('========================='*5)
print(f'''제주
변환 전:{len(df[df['area']==16])}
변환 후:{len(df_copy[df_copy['area']=='제주'])}''')
print('========================='*5)
print(f'''세종
변환 전:{len(df[df['area']==17])}
변환 후:{len(df_copy[df_copy['area']=='세종'])}''')

서울
변환 전:1015
변환 후:1015
=============================================================================================================================
부산
변환 전:465
변환 후:465
=============================================================================================================================
대구
변환 전:247
변환 후:247
=============================================================================================================================
대전
변환 전:228
변환 후:228
=============================================================================================================================
인천
변환 전:142
변환 후:142
=============================================================================================================================
광주
변환 전:196
변환 후:196
=============================================================================================================================
울산
변환 전:49
변환 후:49
=============================================================================================================================
경기
변환 전:819
변환 후:819
=============================================================================================================================
강원
변환 전:197
변환 후:197
=============================================================================================================================
충북
변환 전:229
변환 후:229
=============================================================================================================================
충남
변환 전:349
변환 후:349
=============================================================================================================================
전북
변환 전:232
변환 후:232
=============================================================================================================================
전남
변환 전:118
변환 후:118
=============================================================================================================================
경북
변환 전:410
변환 후:410
=============================================================================================================================
경남
변환 전:235
변환 후:235
=============================================================================================================================
제주
변환 전:55
변환 후:55
=============================================================================================================================
세종
변환 전:31
변환 후:31

In [7]:
df_copy['나이'] = df_copy['age']
df_copy['학점'] = df_copy['score']

# 성별 한글 변경
df_copy['성별'] = df_copy['sex'].apply(lambda x: '남자' if x == 1 else '여자' if x==2 else x)
print('변경 전 sex unique 및 counts')
print(df_copy.sex.value_counts().sort_index())
print('\n')
print('변경 후 sex unique 및 counts')
print(df_copy.성별.value_counts())

변경 전 sex unique 및 counts
sex
1    2248
2    2769
Name: count, dtype: int64


변경 후 sex unique 및 counts
성별
여자    2769
남자    2248
Name: count, dtype: int64

In [8]:
# 건강상태 한글 변경
df_copy['건강상태'] = df_copy['q001G'].apply(lambda x: '건강하지않다' if x == 1 else '보통이다' if x==2 else '건강하다' if x==3 else x)
print('변경 전 q001G unique 및 counts')
print(df_copy.q001G.value_counts().sort_index())
print('\n')
print('변경 후 건강상태 unique 및 counts')
print(df_copy.건강상태.value_counts())

변경 전 q001G unique 및 counts
q001G
1     647
2    1408
3    2962
Name: count, dtype: int64


변경 후 건강상태 unique 및 counts
건강상태
건강하다      2962
보통이다      1408
건강하지않다     647
Name: count, dtype: int64

In [9]:
# 결혼상태 한글 변경
df_copy['결혼상태'] = df_copy['p001G'].apply(lambda x: '미혼' if x == 1 else '기혼' if x==2 else x)
print('변경 전 p001G unique 및 counts')
print(df_copy.p001G.value_counts().sort_index())
print('\n')
print('변경 후 결혼상태 unique 및 counts')
print(df_copy.결혼상태.value_counts())

변경 전 p001G unique 및 counts
p001G
1    4869
2     148
Name: count, dtype: int64


변경 후 결혼상태 unique 및 counts
결혼상태
미혼    4869
기혼     148
Name: count, dtype: int64

In [10]:
# 대학지역 한글 변경
df_copy['대학지역'] = df_copy['provinceG'].apply(lambda x: '수도권' if x == 1 else '비수도권' if x==2 else x)
print('변경 전 provinceG unique 및 counts')
print(df_copy.provinceG.value_counts().sort_index())
print('\n')
print('변경 후 대학지역 unique 및 counts')
print(df_copy.대학지역.value_counts())

변경 전 provinceG unique 및 counts
provinceG
1    2173
2    2844
Name: count, dtype: int64


변경 후 대학지역 unique 및 counts
대학지역
비수도권    2844
수도권     2173
Name: count, dtype: int64

In [11]:
# 전공일치 한글 변경
df_copy['전공일치'] = df_copy['major_sameG'].apply(lambda x: '맞지않다' if x == 1 else '보통이다' if x==2 else '잘맞다' if x==3 else x)
print('변경 전 major_sameG unique 및 counts')
print(df_copy.major_sameG.value_counts().sort_index())
print('\n')
print('변경 후 전공일치 unique 및 counts')
print(df_copy.전공일치.value_counts())

변경 전 major_sameG unique 및 counts
major_sameG
1    2231
2    1267
3    1519
Name: count, dtype: int64


변경 후 전공일치 unique 및 counts
전공일치
맞지않다    2231
잘맞다     1519
보통이다    1267
Name: count, dtype: int64

In [12]:
# 본전공 한글 변경
df_copy['본전공'] = df_copy['majorcatG'].apply(lambda x: '문과' if x == 1 else '이공계' if x==2 else '예체능' if x==3 else x)
print('변경 전 majorcatG unique 및 counts')
print(df_copy.majorcatG.value_counts().sort_index())
print('\n')
print('변경 후 본전공 unique 및 counts')
print(df_copy.본전공.value_counts())

변경 전 majorcatG unique 및 counts
majorcatG
1    2177
2    2150
3     690
Name: count, dtype: int64


변경 후 본전공 unique 및 counts
본전공
문과     2177
이공계    2150
예체능     690
Name: count, dtype: int64

In [13]:
# 전공일치 한글 변경
df_copy['재학중일자리경험'] = df_copy['h001'].apply(lambda x: '있다' if x == 1 else '없다' if x==2 else x)
print('변경 전 h001 unique 및 counts')
print(df_copy.h001.value_counts().sort_index())
print('\n')
print('변경 후 재학중일자리경험 unique 및 counts')
print(df_copy.재학중일자리경험.value_counts())

변경 전 h001 unique 및 counts
h001
1    2948
2    2069
Name: count, dtype: int64


변경 후 재학중일자리경험 unique 및 counts
재학중일자리경험
있다    2948
없다    2069
Name: count, dtype: int64

In [14]:
# 삶의만족도 한글 변경
df_copy['삶의만족도_개인'] = df_copy['q015G'].apply(lambda x: '그렇다' if x == 1 else '보통이다' if x==2 else '그렇지않다' if x==3 else x)
print('변경 전 q015G unique 및 counts')
print(df_copy.q015G.value_counts().sort_index())
print('\n')
print('변경 후 삶의만족도_개인 unique 및 counts')
print(df_copy['삶의만족도_개인'].value_counts())

변경 전 q015G unique 및 counts
q015G
1     813
2     993
3    3211
Name: count, dtype: int64


변경 후 삶의만족도_개인 unique 및 counts
삶의만족도_개인
그렇지않다    3211
보통이다      993
그렇다       813
Name: count, dtype: int64

In [15]:
# 삶의만족도 한글 변경
df_copy['삶의만족도_관계'] = df_copy['q016G'].apply(lambda x: '그렇다' if x == 1 else '보통이다' if x==2 else '그렇지않다' if x==3 else x)
print('변경 전 q016G unique 및 counts')
print(df_copy.q016G.value_counts().sort_index())
print('\n')
print('변경 후 삶의만족도_관계 unique 및 counts')
print(df_copy['삶의만족도_관계'].value_counts())

변경 전 q016G unique 및 counts
q016G
1     545
2     964
3    3508
Name: count, dtype: int64


변경 후 삶의만족도_관계 unique 및 counts
삶의만족도_관계
그렇지않다    3508
보통이다      964
그렇다       545
Name: count, dtype: int64

In [16]:
df_copy.columns

Index(['pid', 'majorcat', 'province', 'area', 'sex', 'age', 'a003', 'a004_10',
       'a010', 'a014',
       ...
       '학점', '성별', '건강상태', '결혼상태', '대학지역', '전공일치', '본전공', '재학중일자리경험',
       '삶의만족도_개인', '삶의만족도_관계'],
      dtype='object', length=123)

In [17]:
# 삶의만족도 한글 변경
df_copy['삶의만족도_소속집단'] = df_copy['q017G'].apply(lambda x: '그렇다' if x == 1 else '보통이다' if x==2 else '그렇지않다' if x==3 else x)
print('변경 전 q017G unique 및 counts')
print(df_copy.q017G.value_counts().sort_index())
print('\n')
print('변경 후 삶의만족도_소속집단 unique 및 counts')
print(df_copy['삶의만족도_소속집단'].value_counts())

변경 전 q017G unique 및 counts
q017G
1     614
2    1227
3    3176
Name: count, dtype: int64


변경 후 삶의만족도_소속집단 unique 및 counts
삶의만족도_소속집단
그렇지않다    3176
보통이다     1227
그렇다       614
Name: count, dtype: int64

In [18]:
# 종사자수 한글 변경
df_copy['종사자수'] = df_copy['big_companyG'].apply(lambda x: '1000명이상' if x == 1 else '1000명미만' if x==2 else x)
print('변경 전 big_companyG unique 및 counts')
print(df_copy.big_companyG.value_counts().sort_index())
print('\n')
print('변경 후 종사자수 unique 및 counts')
print(df_copy['종사자수'].value_counts())

변경 전 big_companyG unique 및 counts
big_companyG
1.0     648
2.0    3134
Name: count, dtype: int64


변경 후 종사자수 unique 및 counts
종사자수
1000명미만    3134
1000명이상     648
Name: count, dtype: int64

In [19]:
# 업무만족도 한글 변경
df_copy['업무만족도'] = df_copy['work_satiG'].apply(lambda x: '그렇다' if x == 1 else '보통이다' if x==2 else '그렇지않다' if x==3 else x)
print('변경 전 work_satiG unique 및 counts')
print(df_copy.work_satiG.value_counts().sort_index())
print('\n')
print('변경 후 업무만족도 unique 및 counts')
print(df_copy['업무만족도'].value_counts())

변경 전 work_satiG unique 및 counts
work_satiG
1     953
2    1916
3    2148
Name: count, dtype: int64


변경 후 업무만족도 unique 및 counts
업무만족도
그렇지않다    2148
보통이다     1916
그렇다       953
Name: count, dtype: int64

In [25]:
print(df_copy.a016.isnull().sum())
print(df_copy.commuting_time.isnull().sum())

4525
4525

In [26]:
# 교통수단 한글 변경
df_copy['교통수단'] = df_copy['a016'].apply(lambda x: '무응답' if x == -1 
                                                  else '도보' if x==1 
                                                  else '승용차' if x==2 
                                                  else '시내버스' if x==3
                                                  else '통근버스' if x==4
                                                  else '고속/시외버스' if x==5
                                                  else '전철/지하철' if x==6
                                                  else '기차' if x==7
                                                  else '택시' if x==8
                                                  else '자전거' if x==9
                                                  else '기타' if x==10 or x==11
                                                  else x)
print('변경 전 a016 unique 및 counts')
print(df_copy.a016.value_counts().sort_index())
print('\n')
print('변경 후 교통수단 unique 및 counts')
print(df_copy['교통수단'].value_counts())

변경 전 a016 unique 및 counts
a016
-1.0       1
 1.0      74
 2.0     225
 3.0      79
 4.0      25
 5.0       7
 6.0      67
 8.0       4
 9.0       3
 10.0      7
Name: count, dtype: int64


변경 후 교통수단 unique 및 counts
교통수단
승용차        225
시내버스        79
도보          74
전철/지하철      67
통근버스        25
기타           7
고속/시외버스      7
택시           4
자전거          3
무응답          1
Name: count, dtype: int64

In [27]:
df_copy['출퇴근시간'] = df_copy['commuting_time'].copy()

In [28]:
df_copy[['출퇴근시간','commuting_time']]

      출퇴근시간  commuting_time
0       NaN             NaN
1       NaN             NaN
2       NaN             NaN
3       NaN             NaN
4       NaN             NaN
...     ...             ...
5012    NaN             NaN
5013    NaN             NaN
5014    NaN             NaN
5015    5.0             5.0
5016    NaN             NaN

[5017 rows x 2 columns]

In [29]:
df_copy.to_csv('2023_08_18_data.csv', index=False, encoding='cp949')