#### packages

In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import sklearn
import scipy

##### Data

In [3]:
df = pd.read_csv('data_1.csv')
df.isnull().sum()[50:]

d147               488
d148               488
f073                 0
f074               234
h001                 0
                  ...
commuting_time    4525
industryG           65
sati                 0
satiG                0
insurance            0
Length: 66, dtype: int64

In [4]:
df_copy = df.copy()

In [5]:
df_copy.area.replace(1, '서울', inplace=True)
df_copy.area.replace(2, '부산', inplace=True)
df_copy.area.replace(3, '대구', inplace=True)
df_copy.area.replace(4, '대전', inplace=True)
df_copy.area.replace(5, '인천', inplace=True)
df_copy.area.replace(6, '광주', inplace=True)
df_copy.area.replace(7, '울산', inplace=True)
df_copy.area.replace(8, '경기', inplace=True)
df_copy.area.replace(9, '강원', inplace=True)
df_copy.area.replace(10, '충북', inplace=True)
df_copy.area.replace(11, '충남', inplace=True)
df_copy.area.replace(12, '전북', inplace=True)
df_copy.area.replace(13, '전남', inplace=True)
df_copy.area.replace(14, '경북', inplace=True)
df_copy.area.replace(15, '경남', inplace=True)
df_copy.area.replace(16, '제주', inplace=True)
df_copy.area.replace(17, '세종', inplace=True)

In [6]:
##### 값 변환 비교

print(f'''서울
변환 전:{len(df[df['area']==1])}
변환 후:{len(df_copy[df_copy['area']=='서울'])}''')
print('========================='*5)
print(f'''부산
변환 전:{len(df[df['area']==2])}
변환 후:{len(df_copy[df_copy['area']=='부산'])}''')
print('========================='*5)
print(f'''대구
변환 전:{len(df[df['area']==3])}
변환 후:{len(df_copy[df_copy['area']=='대구'])}''')
print('========================='*5)
print(f'''대전
변환 전:{len(df[df['area']==4])}
변환 후:{len(df_copy[df_copy['area']=='대전'])}''')
print('========================='*5)
print(f'''인천
변환 전:{len(df[df['area']==5])}
변환 후:{len(df_copy[df_copy['area']=='인천'])}''')
print('========================='*5)
print(f'''광주
변환 전:{len(df[df['area']==6])}
변환 후:{len(df_copy[df_copy['area']=='광주'])}''')
print('========================='*5)
print(f'''울산
변환 전:{len(df[df['area']==7])}
변환 후:{len(df_copy[df_copy['area']=='울산'])}''')
print('========================='*5)
print(f'''경기
변환 전:{len(df[df['area']==8])}
변환 후:{len(df_copy[df_copy['area']=='경기'])}''')
print('========================='*5)
print(f'''강원
변환 전:{len(df[df['area']==9])}
변환 후:{len(df_copy[df_copy['area']=='강원'])}''')
print('========================='*5)
print(f'''충북
변환 전:{len(df[df['area']==10])}
변환 후:{len(df_copy[df_copy['area']=='충북'])}''')
print('========================='*5)
print(f'''충남
변환 전:{len(df[df['area']==11])}
변환 후:{len(df_copy[df_copy['area']=='충남'])}''')
print('========================='*5)
print(f'''전북
변환 전:{len(df[df['area']==12])}
변환 후:{len(df_copy[df_copy['area']=='전북'])}''')
print('========================='*5)
print(f'''전남
변환 전:{len(df[df['area']==13])}
변환 후:{len(df_copy[df_copy['area']=='전남'])}''')
print('========================='*5)
print(f'''경북
변환 전:{len(df[df['area']==14])}
변환 후:{len(df_copy[df_copy['area']=='경북'])}''')
print('========================='*5)
print(f'''경남
변환 전:{len(df[df['area']==15])}
변환 후:{len(df_copy[df_copy['area']=='경남'])}''')
print('========================='*5)
print(f'''제주
변환 전:{len(df[df['area']==16])}
변환 후:{len(df_copy[df_copy['area']=='제주'])}''')
print('========================='*5)
print(f'''세종
변환 전:{len(df[df['area']==17])}
변환 후:{len(df_copy[df_copy['area']=='세종'])}''')

서울
변환 전:1015
변환 후:1015
=============================================================================================================================
부산
변환 전:465
변환 후:465
=============================================================================================================================
대구
변환 전:247
변환 후:247
=============================================================================================================================
대전
변환 전:228
변환 후:228
=============================================================================================================================
인천
변환 전:142
변환 후:142
=============================================================================================================================
광주
변환 전:196
변환 후:196
=============================================================================================================================
울산
변환 전:49
변환 후:49
=============================================================================================================================
경기
변환 전:819
변환 후:819
=============================================================================================================================
강원
변환 전:197
변환 후:197
=============================================================================================================================
충북
변환 전:229
변환 후:229
=============================================================================================================================
충남
변환 전:349
변환 후:349
=============================================================================================================================
전북
변환 전:232
변환 후:232
=============================================================================================================================
전남
변환 전:118
변환 후:118
=============================================================================================================================
경북
변환 전:410
변환 후:410
=============================================================================================================================
경남
변환 전:235
변환 후:235
=============================================================================================================================
제주
변환 전:55
변환 후:55
=============================================================================================================================
세종
변환 전:31
변환 후:31

In [7]:
df_copy['나이'] = df_copy['age']
df_copy['학점'] = df_copy['score']

# 성별 한글 변경
df_copy['성별'] = df_copy['sex'].apply(lambda x: '남자' if x == 1 else '여자' if x==2 else x)
print('변경 전 sex unique 및 counts')
print(df_copy.sex.value_counts().sort_index())
print('\n')
print('변경 후 sex unique 및 counts')
print(df_copy.성별.value_counts())

변경 전 sex unique 및 counts
sex
1    2248
2    2769
Name: count, dtype: int64


변경 후 sex unique 및 counts
성별
여자    2769
남자    2248
Name: count, dtype: int64

In [8]:
# 건강상태 한글 변경
df_copy['건강상태'] = df_copy['q001G'].apply(lambda x: '건강하지않다' if x == 1 else '보통이다' if x==2 else '건강하다' if x==3 else x)
print('변경 전 q001G unique 및 counts')
print(df_copy.q001G.value_counts().sort_index())
print('\n')
print('변경 후 건강상태 unique 및 counts')
print(df_copy.건강상태.value_counts())

변경 전 q001G unique 및 counts
q001G
1     647
2    1408
3    2962
Name: count, dtype: int64


변경 후 건강상태 unique 및 counts
건강상태
건강하다      2962
보통이다      1408
건강하지않다     647
Name: count, dtype: int64

In [9]:
# 결혼상태 한글 변경
df_copy['결혼상태'] = df_copy['p001G'].apply(lambda x: '미혼' if x == 1 else '기혼' if x==2 else x)
print('변경 전 p001G unique 및 counts')
print(df_copy.p001G.value_counts().sort_index())
print('\n')
print('변경 후 결혼상태 unique 및 counts')
print(df_copy.결혼상태.value_counts())

변경 전 p001G unique 및 counts
p001G
1    4869
2     148
Name: count, dtype: int64


변경 후 결혼상태 unique 및 counts
결혼상태
미혼    4869
기혼     148
Name: count, dtype: int64

In [10]:
# 대학지역 한글 변경
df_copy['대학지역'] = df_copy['provinceG'].apply(lambda x: '수도권' if x == 1 else '비수도권' if x==2 else x)
print('변경 전 provinceG unique 및 counts')
print(df_copy.provinceG.value_counts().sort_index())
print('\n')
print('변경 후 대학지역 unique 및 counts')
print(df_copy.대학지역.value_counts())

변경 전 provinceG unique 및 counts
provinceG
1    2173
2    2844
Name: count, dtype: int64


변경 후 대학지역 unique 및 counts
대학지역
비수도권    2844
수도권     2173
Name: count, dtype: int64

In [11]:
# 전공일치 한글 변경
df_copy['전공일치'] = df_copy['major_sameG'].apply(lambda x: '맞지않다' if x == 1 else '보통이다' if x==2 else '잘맞다' if x==3 else x)
print('변경 전 major_sameG unique 및 counts')
print(df_copy.major_sameG.value_counts().sort_index())
print('\n')
print('변경 후 전공일치 unique 및 counts')
print(df_copy.전공일치.value_counts())

변경 전 major_sameG unique 및 counts
major_sameG
1    2231
2    1267
3    1519
Name: count, dtype: int64


변경 후 전공일치 unique 및 counts
전공일치
맞지않다    2231
잘맞다     1519
보통이다    1267
Name: count, dtype: int64

In [12]:
# 본전공 한글 변경
df_copy['본전공'] = df_copy['majorcatG'].apply(lambda x: '문과' if x == 1 else '이공계' if x==2 else '예체능' if x==3 else x)
print('변경 전 majorcatG unique 및 counts')
print(df_copy.majorcatG.value_counts().sort_index())
print('\n')
print('변경 후 본전공 unique 및 counts')
print(df_copy.본전공.value_counts())

변경 전 majorcatG unique 및 counts
majorcatG
1    2177
2    2150
3     690
Name: count, dtype: int64


변경 후 본전공 unique 및 counts
본전공
문과     2177
이공계    2150
예체능     690
Name: count, dtype: int64

In [13]:
# 전공일치 한글 변경
df_copy['재학중일자리경험'] = df_copy['h001'].apply(lambda x: '있다' if x == 1 else '없다' if x==2 else x)
print('변경 전 h001 unique 및 counts')
print(df_copy.h001.value_counts().sort_index())
print('\n')
print('변경 후 재학중일자리경험 unique 및 counts')
print(df_copy.재학중일자리경험.value_counts())

변경 전 h001 unique 및 counts
h001
1    2948
2    2069
Name: count, dtype: int64


변경 후 재학중일자리경험 unique 및 counts
재학중일자리경험
있다    2948
없다    2069
Name: count, dtype: int64

In [14]:
# 삶의만족도 한글 변경
df_copy['삶의만족도_개인'] = df_copy['q015G'].apply(lambda x: '그렇다' if x == 1 else '보통이다' if x==2 else '그렇지않다' if x==3 else x)
print('변경 전 q015G unique 및 counts')
print(df_copy.q015G.value_counts().sort_index())
print('\n')
print('변경 후 삶의만족도_개인 unique 및 counts')
print(df_copy['삶의만족도_개인'].value_counts())

변경 전 q015G unique 및 counts
q015G
1     813
2     993
3    3211
Name: count, dtype: int64


변경 후 삶의만족도_개인 unique 및 counts
삶의만족도_개인
그렇지않다    3211
보통이다      993
그렇다       813
Name: count, dtype: int64

In [15]:
# 삶의만족도 한글 변경
df_copy['삶의만족도_관계'] = df_copy['q016G'].apply(lambda x: '그렇다' if x == 1 else '보통이다' if x==2 else '그렇지않다' if x==3 else x)
print('변경 전 q016G unique 및 counts')
print(df_copy.q016G.value_counts().sort_index())
print('\n')
print('변경 후 삶의만족도_관계 unique 및 counts')
print(df_copy['삶의만족도_관계'].value_counts())

변경 전 q016G unique 및 counts
q016G
1     545
2     964
3    3508
Name: count, dtype: int64


변경 후 삶의만족도_관계 unique 및 counts
삶의만족도_관계
그렇지않다    3508
보통이다      964
그렇다       545
Name: count, dtype: int64

In [16]:
# 삶의만족도 한글 변경
df_copy['삶의만족도_소속집단'] = df_copy['q017G'].apply(lambda x: '그렇다' if x == 1 else '보통이다' if x==2 else '그렇지않다' if x==3 else x)
print('변경 전 q017G unique 및 counts')
print(df_copy.q017G.value_counts().sort_index())
print('\n')
print('변경 후 삶의만족도_소속집단 unique 및 counts')
print(df_copy['삶의만족도_소속집단'].value_counts())

변경 전 q017G unique 및 counts
q017G
1     614
2    1227
3    3176
Name: count, dtype: int64


변경 후 삶의만족도_소속집단 unique 및 counts
삶의만족도_소속집단
그렇지않다    3176
보통이다     1227
그렇다       614
Name: count, dtype: int64

In [17]:
# 종사자수 한글 변경
df_copy['종사자수'] = df_copy['big_companyG'].apply(lambda x: '1000명이상' if x == 1 else '1000명미만' if x==2 else x)
print('변경 전 big_companyG unique 및 counts')
print(df_copy.big_companyG.value_counts().sort_index())
print('\n')
print('변경 후 종사자수 unique 및 counts')
print(df_copy['종사자수'].value_counts())

변경 전 big_companyG unique 및 counts
big_companyG
1.0     648
2.0    3134
Name: count, dtype: int64


변경 후 종사자수 unique 및 counts
종사자수
1000명미만    3134
1000명이상     648
Name: count, dtype: int64

In [18]:
# 업무만족도 한글 변경
df_copy['업무만족도'] = df_copy['work_satiG'].apply(lambda x: '그렇다' if x == 1 else '보통이다' if x==2 else '그렇지않다' if x==3 else x)
print('변경 전 work_satiG unique 및 counts')
print(df_copy.work_satiG.value_counts().sort_index())
print('\n')
print('변경 후 업무만족도 unique 및 counts')
print(df_copy['업무만족도'].value_counts())

변경 전 work_satiG unique 및 counts
work_satiG
1     953
2    1916
3    2148
Name: count, dtype: int64


변경 후 업무만족도 unique 및 counts
업무만족도
그렇지않다    2148
보통이다     1916
그렇다       953
Name: count, dtype: int64

In [19]:
print(df_copy.a016.isnull().sum())
print(df_copy.commuting_time.isnull().sum())

4526
4525

In [20]:
# 교통수단 한글 변경
df_copy['교통수단'] = df_copy['a016'].apply(lambda x: np.nan if x == -1 
                                                  else '도보' if x==1 
                                                  else '승용차' if x==2 
                                                  else '시내버스' if x==3
                                                  else '통근버스' if x==4
                                                  else '고속/시외버스' if x==5
                                                  else '전철/지하철' if x==6
                                                  else '기차' if x==7
                                                  else '택시' if x==8
                                                  else '자전거' if x==9
                                                  else '기타' if x==10 or x==11
                                                  else x)
print('변경 전 a016 unique 및 counts')
print(df_copy.a016.value_counts().sort_index())
print('\n')
print('변경 후 교통수단 unique 및 counts')
print(df_copy['교통수단'].value_counts())

변경 전 a016 unique 및 counts
a016
1.0      74
2.0     225
3.0      79
4.0      25
5.0       7
6.0      67
8.0       4
9.0       3
10.0      7
Name: count, dtype: int64


변경 후 교통수단 unique 및 counts
교통수단
승용차        225
시내버스        79
도보          74
전철/지하철      67
통근버스        25
기타           7
고속/시외버스      7
택시           4
자전거          3
Name: count, dtype: int64

In [21]:
df_copy['출퇴근시간'] = df_copy['commuting_time'].copy()

In [22]:
df_copy[['출퇴근시간','commuting_time']]

      출퇴근시간  commuting_time
0       NaN             NaN
1       NaN             NaN
2       NaN             NaN
3       NaN             NaN
4       NaN             NaN
...     ...             ...
5012    NaN             NaN
5013    NaN             NaN
5014    NaN             NaN
5015    5.0             5.0
5016    NaN             NaN

[5017 rows x 2 columns]

In [23]:
sorted(df_copy.com_area.unique())

[1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 nan,
 17.0]

In [24]:
df_copy['사업체지역'] = df_copy['com_area'].copy()

In [25]:
df_copy.사업체지역.replace(1, '서울', inplace=True)
df_copy.사업체지역.replace(2, '부산', inplace=True)
df_copy.사업체지역.replace(3, '대구', inplace=True)
df_copy.사업체지역.replace(4, '대전', inplace=True)
df_copy.사업체지역.replace(5, '인천', inplace=True)
df_copy.사업체지역.replace(6, '광주', inplace=True)
df_copy.사업체지역.replace(7, '울산', inplace=True)
df_copy.사업체지역.replace(8, '경기', inplace=True)
df_copy.사업체지역.replace(9, '강원', inplace=True)
df_copy.사업체지역.replace(10, '충북', inplace=True)
df_copy.사업체지역.replace(11, '충남', inplace=True)
df_copy.사업체지역.replace(12, '전북', inplace=True)
df_copy.사업체지역.replace(13, '전남', inplace=True)
df_copy.사업체지역.replace(14, '경북', inplace=True)
df_copy.사업체지역.replace(15, '경남', inplace=True)
df_copy.사업체지역.replace(16, '제주', inplace=True)
df_copy.사업체지역.replace(17, '세종', inplace=True)

In [26]:
sorted(df_copy['industry'].unique())

[1.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 21.0,
 nan]

![nn](aaa.png)

In [27]:
# 산업체 한글 변경
df_copy['산업체'] = df_copy['industry'].apply(lambda x: '무응답' if x == -1 
                                                  else '농업/임업/어업' if x==1 
                                                  else '광업' if x==2 
                                                  else '제조업' if x==3
                                                  else '전기/가스/증기및공기조절공급업' if x==4
                                                  else '수도/하수/원료재생업' if x==5
                                                  else '건설업' if x==6
                                                  else '도매/소매업' if x==7
                                                  else '운수/창고업' if x==8
                                                  else '숙박/음식점업' if x==9
                                                  else '정보통신업' if x==10
                                                  else '금융/보험업' if x==11
                                                  else '부동산업' if x==12
                                                  else '전문과학및기술서비스업' if x==13
                                                  else '사업시설관리/사업지원및임대서비스업' if x==14
                                                  else '공공행정/국방사회보장행정' if x==15
                                                  else '교육서비스업' if x==16
                                                  else '보건업/사회복지서비스업' if x==17
                                                  else '예술/스포츠/여가관련서비스업' if x==18
                                                  else '협회/단체/수리/기타개인서비스업' if x==19
                                                  else '자가소비생산활동' if x==20
                                                  else '국제/외부기관' if x==21
                                                  else x)
print('변경 전 industry unique 및 counts')
print(df_copy.industry.value_counts().sort_index())
print('\n')
print('변경 후 산업체 unique 및 counts')
print(df_copy['산업체'].value_counts())

변경 전 industry unique 및 counts
industry
1.0       8
3.0     605
4.0      11
5.0       5
6.0     176
7.0     583
8.0     115
9.0     636
10.0    270
11.0     87
12.0     31
13.0    421
14.0    260
15.0    203
16.0    835
17.0    340
18.0    239
19.0    124
21.0      3
Name: count, dtype: int64


변경 후 산업체 unique 및 counts
산업체
교육서비스업                835
숙박/음식점업               636
제조업                   605
도매/소매업                583
전문과학및기술서비스업           421
보건업/사회복지서비스업          340
정보통신업                 270
사업시설관리/사업지원및임대서비스업    260
예술/스포츠/여가관련서비스업       239
공공행정/국방사회보장행정         203
건설업                   176
협회/단체/수리/기타개인서비스업     124
운수/창고업                115
금융/보험업                 87
부동산업                   31
전기/가스/증기및공기조절공급업       11
농업/임업/어업                8
수도/하수/원료재생업             5
국제/외부기관                 3
Name: count, dtype: int64

In [28]:
# 산업체 한글 변경
df_copy['산업체분류'] = df_copy['industry'].apply(lambda x: np.nan if x == -1 
                                                  else '1차산업' if x==1 
                                                  else '2차산업' if 2<= x <= 6
                                                  else '3차산업' if 7 <= x <= 21
                                                  else x)
print('변경 전 industry unique 및 counts')
print(df_copy.industry.value_counts().sort_index())
print('\n')
print('변경 후 산업체분류 unique 및 counts')
print(df_copy['산업체분류'].value_counts())

변경 전 industry unique 및 counts
industry
1.0       8
3.0     605
4.0      11
5.0       5
6.0     176
7.0     583
8.0     115
9.0     636
10.0    270
11.0     87
12.0     31
13.0    421
14.0    260
15.0    203
16.0    835
17.0    340
18.0    239
19.0    124
21.0      3
Name: count, dtype: int64


변경 후 산업체분류 unique 및 counts
산업체분류
3차산업    4147
2차산업     797
1차산업       8
Name: count, dtype: int64

In [30]:
df_copy['주당근로일'] = df_copy['work_day']
df_copy['주당근로시간'] = df_copy['work_time']

In [31]:
# 주당근로시간(binary) 한글 변경
df_copy['주당근로시간_binary'] = df_copy['work_timeB'].apply(lambda x: '40시간이하' if x == 0 else '40시간초과' if x==1 else x)
print('변경 전 work_timeB unique 및 counts')
print(df_copy.work_timeB.value_counts().sort_index())
print('\n')
print('변경 후 work_timeB unique 및 counts')
print(df_copy.주당근로시간_binary.value_counts())

변경 전 work_timeB unique 및 counts
work_timeB
0    4108
1     909
Name: count, dtype: int64


변경 후 work_timeB unique 및 counts
주당근로시간_binary
40시간이하    4108
40시간초과     909
Name: count, dtype: int64

In [32]:
# 직장에서의복리후생제공여부 한글 변경
df_copy['직장에서의복리후생제공여부'] = df_copy['supply'].apply(lambda x: '제공하지않는다' if x == 0 else '제공한다' if x==1 else x)
print('변경 전 supply unique 및 counts')
print(df_copy.supply.value_counts().sort_index())
print('\n')
print('변경 후 supply unique 및 counts')
print(df_copy.직장에서의복리후생제공여부.value_counts())

변경 전 supply unique 및 counts
supply
0    4120
1     897
Name: count, dtype: int64


변경 후 supply unique 및 counts
직장에서의복리후생제공여부
제공하지않는다    4120
제공한다        897
Name: count, dtype: int64

In [33]:
# 보험가입여부 한글 변경
df_copy['보험가입여부'] = df_copy['insurance'].apply(lambda x: '가입하지않음' if x == 0 else '가입했다' if x==1 else x)
print('변경 전 insurance unique 및 counts')
print(df_copy.insurance.value_counts().sort_index())
print('\n')
print('변경 후 보험가입여부 unique 및 counts')
print(df_copy.보험가입여부.value_counts())

변경 전 insurance unique 및 counts
insurance
0    2307
1    2710
Name: count, dtype: int64


변경 후 보험가입여부 unique 및 counts
보험가입여부
가입했다      2710
가입하지않음    2307
Name: count, dtype: int64

In [34]:
# 직장만족도 한글 변경
df_copy['직장만족도'] = df_copy['company_satiG'].apply(lambda x: '그렇지않다' if x == 1 else '보통이다' if x==2 else '그렇다' if x==3 else x)
print('변경 전 company_satiG unique 및 counts')
print(df_copy.company_satiG.value_counts().sort_index())
print('\n')
print('변경 후 직장만족도 unique 및 counts')
print(df_copy.직장만족도.value_counts())

변경 전 company_satiG unique 및 counts
company_satiG
1    1139
2    1898
3    1980
Name: count, dtype: int64


변경 후 직장만족도 unique 및 counts
직장만족도
그렇다      1980
보통이다     1898
그렇지않다    1139
Name: count, dtype: int64

In [35]:
df_copy.to_csv('re_0826.csv', index=False, encoding='cp949')